header {
  color: #ffffff;
  background-color: #3f51b5;
  text-align: left;
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  a {
    color: #fff;
    transition: color 0.3s ease;

    &:hover {
      color: darken(#fff, 50%)
    }
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      padding: 0px .75rem;
    }
  }
}

.logo {
  font-family: 'Carter One', 'Open Sans', sans-serif;
}