html {
  box-sizing: border-box;
  /* fallback font size: should be large enough for mobile screens */
  font-size: 18px;
  /* responsive font size */
  font-size: min(max(16px, 3vw), 24px);
  scroll-behavior: smooth;

  --primaryColor: hsla(0, 0%, 0%, .87);
  --primaryBg: #3f51b5;
  --primaryBgLt: #757de8;
  --primaryBgDk: #002984;
  --secondaryBg: #00bcd4;
  --secondaryBgLt: #62efff;
  --secondaryBgDk: #008ba3;
  --neutralBg: #f3f3f4;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* remove all animations and transitions for people who prefer not to see them */
@media (prefers-reduced-motion: reduce) { 
  * {
    animation-play-state: paused;
    transition: none;
    scroll-behavior: auto;
  }
}

html, body {
  height: 100%;
}

body {
  color: var(--primaryColor);
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0 auto 1rem auto; /* space between form elements and fallback center */
  justify-content: center;
  max-width: 25ch;
}

label {
  justify-self: flex-start;
}